* {
    margin: 0;
    padding: 0;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar {
    background-color: #A0BCC2;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-right: 5px solid #251D3A;
    height: 100%;
    width: 25%;
}

#navbar header {
    /* border-bottom: 1px solid #251D3A; */
    text-align: center;
    padding: 20px 0;
    font-size: x-large;
    font-weight: 400;
}
/*
#navbar a{
    text-decoration: none;
    border-bottom: 1px solid #251D3A;
    font-size: 20px;
    padding: 15px 0;
    padding-left: 40px;
    color: #F9EBC8;
    
}
*/
#navbar a{
    text-decoration: none;
    color: #F9EBC8;


}
#navbar ul {
    padding: 0px;
    height :88%;
    font-size: 20px;
    overflow: hidden;
    overflow-y: scroll;

}

#navbar ul li {
    list-style: none;
    border-bottom: 1px solid #251D3A;
    padding: 15px 0;
    padding-left: 40px;
}
#navbar ul .special
{
    border-top: 1px solid #251D3A;
}


#main-doc{
    background-color: white;
    width: 73%;
    margin-left: auto;
    margin-right: 0;
    padding-left: 35px;
    line-height: 1.5;
}

#main-doc header{
    color: #251D3A;
    font-size: xx-large;
    font-weight: 700;
    padding: 15px 0;
}

@media (max-width: 786px) {
    body{
        background-color: red;
    }
    
}

code div {
    background-color: #DAE5D0;
    font-size: 16px;
    margin-left: 80px;
    padding:20px;
    width:80%;
}

ul {
    padding-left: 35px;
}
#main-doc p {
    padding-left: 20px;
    margin:30px;
}
#main-doc ul {
    padding-left: 55px ;
    margin-left: 55px;
}
#main-doc ul li{
    margin-bottom: 20px;
}

